@import url(http://fonts.googleapis.com/css?family=Sonsie+One);


body{
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.button-border-primary {
  margin: 6px;
}

.menu-item {
  margin: 6px;
}

.menu-item input{
  width: 50px;
}

.menu-item select{
  margin: 6px;
}

#user {
  margin: 6px;
}

div#total {
  border: 1px solid black;
  display: inline-block;
}

span {
  margin: 10px;
}

h1 {
  color: white;
  font-family: 'Sonsie One', cursive;
  font: 100px;
  margin-left: 100px;
}
