extends ../shared/template

block content
  h1= title

  #controls
    #user= user.email
    #total



  form#order(action='/orders', method='POST')
    .menu-item
      button.delete X
      input.qty(type='number', name='qty', required='required' placeholder='Qty')
      select.menu
        option Select from Menu
          each menu in menus
            option= menu
      select.dish(name='dishId')
        option Select a Dish
    buton#add.button-border-primary Add Row
    button.button-border-primary Place Order




block scripts
  script(src='/js/es6/compiled/orders.js')
