extends ../shared/template

block content
  h1= title

  #user= user.email


  form#order
    input(type='number', name='qty', placeholder='Enter Qty')
    select.menu(name='menu')
      option Select from Menu
        each menu in menus
          option= menu
    select.dish(name='dish')
      option Select a Dish

  div
    button#add Add Row

block scripts
  script(src='/js/es6/compiled/orders.js')
