extends ../shared/template

block content
  h1= title

  #user= user.email
  #total $0.00

  buton#add.button-border-primary Add Row

  form#order(action='/orders', method='POST')
    .menu-item
      button.delete X
      input.qty(type='number', name='qty', placeholder='Qty')
      select.menu
        option Select from Menu
          each menu in menus
            option= menu
      select.dish(name='dishId')
        option Select a Dish
    button.button-border-primary Place Order




block scripts
  script(src='/js/es6/compiled/orders.js')
